* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(49, 49, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.container {
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: whitesmoke;
}
